<h1>Engines#index</h1>
<p>Find me in app/views/engines/index.html.erb</p>
<table>
	<th>Name</th>
	<th>Hostname</th>
	<th>Set As</th>
	<th>Status</th>
	<th>View</th>
	<th>Actions</th>
<%@engines.each do |engine| 
 state = engine.read_state # faster than querying the docker api 5 times
%>
<tr>	
	<td><%=engine.containerName %></td> 
	<td><%=engine.fqdn %></td>
	<td><%=engine.setState %></td>
	<td><%=state %></td>
	<td><%= link_to 'Show', engine_path(engine.containerName) %></td>
	<% 
		if state == "running"
			%> <td><%= link_to 'Stop', stop_engine_path(engine.containerName) %> <%= link_to 'Pause', pause_engine_path(engine.containerName) %> Pause </td> <%
		elsif state == "paused"
			%> <td>Unpause</td> <%
		elsif start == "stopped" 
			%> <td>Start / Destroy
			</td> <%
		elsif start == "nocontainer" 
			%> <td>Create / Delete </td> 
	<%  end %>
	
</tr>
<% end %>
</table>
