<table>
<tr>	<% state= @engine.read_state %>
	<td><%=@engine.containerName %></td> 
	<td><%=@engine.fqdn %></td>
	<td><%=@engine.setState %></td>
	<td><%= state %></td>
	
	<% 
		if state == "running"
			%> <td>Stop Pause </td> <%
		elsif state == "paused"
			%> <td>Unpause</td> <%
		elsif start == "stopped" 
			%> <td>Start / Destroy
			</td> <%
		elsif start == "nocontainer" 
			%> <td>Create / Delete </td> 
	<%  end %>
	</tr></table>
	
<% 
	if state != "nocontainer" 
		stats = @engine.stats
		 if stats != nil	%>			
				 	State: <%= stats.state  %><br>
                  	Processes: <%=stats.proc_cnt %><br>
                  	<% if state == "stopped" %>
                  		Stopped: <%=stats.stopped_ts %> <br>
                  	 <% else %> 
                  	 	Started: <%=stats.started_ts %> <br>
                  	 <%end%>
                  	Memory Used:Virtual <%=stats.VSSMemory.to_s  %> Resident <%=stats.RSSMemory.to_s  %> <br>
                  	CPU Time: <%=stats.cpuTime.to_s %> seconds *Since Engine start<br>
          <%end%>
	
 <% end %>

