<h1>System#index</h1>

<h2>System Details</h2>
<% cpu_cnt = Vmstat.cpu.length%>
<%= cpu_cnt %> Cpus<br />
<table>
	<th>CPU</th>
	<th>idle</th>
	<th>nice</th>
	<th>system</th>
	<th>user</th>
<% Vmstat.cpu.each do  |cpu|%>
	<tr>
		<td><%=cpu.num%></td>
		<td><%=cpu.idle%></td>
		<td><%=cpu.nice%></td>
		<td><%=cpu.system%></td>
		<td><%=cpu.user%></td>								
		</tr>

<% end%>



<% 
one = @snapshop.load_average.one_minute
five =  @snapshop.load_average.five_minutes
fithteen =  @snapshop.load_average.fifteen_minutes
 %>
 <strong>Load Averages</strong><br />
 1 Minute:<b><%= one %></b><br>
 5 Minute:<b><%= five %></b><br /> 
 15 Minute:<b><%= fithteen%></b><br> 
 
 <p>
 	<strong>Memory</strong><br>
 	<% ps = @snapshop.memory.pagesize
 		ps = ps/1024
 		active =  @snapshop.memory.active * ps
 		free =   @snapshop.memory.free * ps
 		inactive =  @snapshop.memory.inactive * ps
 		wired =  @snapshop.memory.wired * ps
 	%>
 	<table>
 		<th>Swap size</th>
 		<th>Free</th>
 		<th>active</th>
 		<th>inactive</th>
 		<th>wired</th>
 		<th>Pageins</th>
 		<th>PageOuts</th>
 		<tr>
 			<td>belum</td>
 			<td><%=free%></td>
 			<td><%=active%></td>
 			<td><%=inactive%></td>
 			<td><%=wired%></td>
 			<td><%=@snapshop.memory.pageouts%></td>
 			<td><%=@snapshop.memory.pageins%></td>
 		</tr>
 	</table>
 	
 	
 </p>
 


